.styles { text-align: right;
background-color: aqua;}


.timeIsUp {
display: flex;
margin: auto;
width: 100px;}

.timer-counter { margin: auto;
display: flex;}
    
.timer {display: flex;
padding-right: 30px;}
    
p {color: #fff;
font-family: sans-serif;
font-size: 22px;}
  
    

